### Import all necessary packages - Pandas, Pandas-Profiling, Seaborn, NumPy

In [9]:
import pandas as pd
from pandas_profiling import ProfileReport
import seaborn as sns
import numpy as np
import re
import matplotlib.pyplot as plt

### Import data files as Pandas dataframe

In [10]:
building = pd.read_csv('Datasets/TallestBuildings.csv', header=0, encoding = "ISO-8859-1")
building = building.rename(columns={"Height ft (m)": "Height"})

In [11]:
building.head()

   Rank                    Name       Location            Height  Floors  Year
0     1  One World Trade Center  New York City  1,776 ft (541 m)     104  2014
1     2      Central Park Tower  New York City  1,550 ft (472 m)      98  2020
2     3          Willis Tower         Chicago  1,451 ft (442 m)     108  1974
3     4   111 West 57th Street*  New York City  1,428 ft (435 m)      82  2020
4     5          One Vanderbilt  New York City  1,401 ft (427 m)      67  2020

In [12]:
building.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 6 columns):
Rank        166 non-null int64
Name        166 non-null object
Location    166 non-null object
Height      166 non-null object
Floors      166 non-null int64
Year        166 non-null int64
dtypes: int64(3), object(3)
memory usage: 7.9+ KB

In [13]:
building['Height'] = building['Height'].str.extract(r'\((.*?)\)')
building['Height'] = building['Height'].str.rstrip(' m')
building['Height'] = building['Height'].str.strip()

In [14]:
building.to_csv('Datasets/TallestBuildings_clean.csv')

In [15]:
building.head()

   Rank                    Name       Location Height  Floors  Year
0     1  One World Trade Center  New York City    541     104  2014
1     2      Central Park Tower  New York City    472      98  2020
2     3          Willis Tower         Chicago    442     108  1974
3     4   111 West 57th Street*  New York City    435      82  2020
4     5          One Vanderbilt  New York City    427      67  2020

In [184]:
building_prof = ProfileReport(building)
building_prof.to_file(output_file='building_profile.html')

HBox(children=(FloatProgress(value=0.0, description='variables', max=6.0, style=ProgressStyle(description_widt…

HBox(children=(FloatProgress(value=0.0, description='correlations', max=6.0, style=ProgressStyle(description_w…

HBox(children=(FloatProgress(value=0.0, description='interactions [continuous]', max=9.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='table', max=1.0, style=ProgressStyle(description_width='i…

HBox(children=(FloatProgress(value=0.0, description='missing', max=2.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='warnings', max=3.0, style=ProgressStyle(description_width…

HBox(children=(FloatProgress(value=0.0, description='package', max=1.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='build report structure', max=1.0, style=ProgressStyle(des…

In [21]:
sns.reset_defaults()
#sns.scatterplot(x="Floors", y="Height", data=building)
#sns.relplot(x="Floors", y="Height", size="Year", sizes=(40, 400), alpha=.5, palette="muted", height=6, data=building)
s = sns.relplot(x='Floors', y='Height', data=building)
s = (s.set(xlim = (200,550), ylim = (930,100)))
s

In [23]:
#colors = (0,0,0)
#area = np.pi*3
#plt.scatter(building['Floors'], building['Height'], s=area, c=colors, alpha=0.5)
#plt.title('Floors vs Height')
#plt.xlabel('Floors')
#plt.ylabel('Height')
#plt.show()

In [30]:
building['Height'] = building['Height'].astype(int)
x = building['Height'].values
b = building['Floors'].values

In [33]:
a = np.vstack([x, np.ones(len(x))]).T
w = np.dot(np.linalg.inv(np.dot(a.T, a)), np.dot(a.T, b))
print('w =', w)

w = [ 0.16486373 18.83238758]

In [282]:
building.corr(method ='pearson')

            Rank    Height    Floors      Year
Rank    1.000000 -0.817990 -0.584714 -0.107987
Height -0.817990  1.000000  0.720834  0.147024
Floors -0.584714  0.720834  1.000000  0.080632
Year   -0.107987  0.147024  0.080632  1.000000

In [277]:
np.polyfit(x, b, 1)

array([ 0.16486373, 18.83238758])